.mod-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 54, 70, 1);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    flex-direction: column;
    overflow: auto;
    
}

.mod-menu form label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  font-weight: bold;
  color: #dacccc;
  margin-bottom: 0.5rem;
}
  
.mod-menu form input {
  display: block;
  width: 100%;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
.tag-instructions {
  color: #d6e67f;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}