.version-menu {
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 54, 70, 1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  flex-direction: column;
  overflow: auto;
}



.tag-instructions {
  color: #d6e67f;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#top {
  position: absolute;
  top: 20px;
  height: 50px;
  background-color: rgba(41, 54, 70, 1);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 999;
}

.bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.version-sections {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ul-class li {
  border: 1px solid #ccc;
  border-radius: 11px;
  padding-top: 10px;
  margin-bottom: 10px;
}
